gradio==5.42.0
pandas==2.3.1
chromadb==1.0.20
pillow==10.2.0
numpy==1.26.4
facenet-pytorch==2.6.0
torch==2.2.0
mtcnn==1.0.0
opencv-python==4.11.0.86
google-generativeai==0.8.5
ultralytics==8.3.183
tensorflow==2.19.1
google-generativeai==0.8.5
google-genai==1.31.0
